name: CI for Twitch Chat Project

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      # --- Add Secrets ---
      - name: Configure Environment
        run: |
          echo "client_id = '${{ secrets.CLIENT_ID }}'" >> config.py
          echo "client_secret = '${{ secrets.CLIENT_SECRET }}'" >> config.py
          echo "bot_list = ['fossabot', 'nightbot', 'streamelements', 'potatbotat']" >> config.py

      - name: Lint with Ruff
        run: |
          # Check for errors (missing imports, unused variables, etc.)
          ruff check . --output-format=github

      - name: Check Formatting
        run: |
          # Checks if code follows standard formatting rules (like Black)
          ruff format --check .

      - name: Test Main Script
        run: |
          timeout 10s python main.py || true
